name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libmruby-dev

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build
